*{
    box-sizing: border-box;
}
body{
    background-image: url("../images/crystal2.jpg") ;
    background-size:cover;
        margin: 0px;
}

#page-container{
   
   width:auto;
   max-width: 960px;
   background-color:white;
   height: auto;
   overflow:hidden;
}
#jumboTitle{
    width: 100%;    
    height: 100px;
    border: solid purple;
    border-width:0 2px 2px 2px;
    border-radius:0;
    background-color: purple;   
}
.container{
    padding-left: 0;
    padding-right: 0;
    margin-bottom:10px;
    
}
#title{
    width: auto;

    margin-top: 0px;
    /* margin-bottom: px;  */
    position: relative;
    top: -40px;
   
    padding: 0.5px;
    /* font-family: 'Notable', sans-serif; */
    font-family: 'Cinzel', serif;
    font-size:4.5em;
    font-weight: 800;
    text-align: center;
    color: white;    
}

#instructions{
    text-align:center;
    color:white;
    padding: 10px;
    margin-bottom: 0px;
    background-color:purple;
    border-radius: 0; 
    font-size: 1.8em;
    font-weight:bold; 
    margin-top: 0px; 
}

    
#directions{
    background-color: white;
    height: auto;
    border-radius: 10px;
    margin-top: 0px;
   
}

p{
    font-size: 1em;
    font-weight: bold;
    padding:5px 30px 10px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.scoreboard{
    color:white;
    padding: 10px;
    margin: 0px;
    background-color:purple;
    border-radius: 10px 10px 0 0;
    font-size: 1.5em;
    font-weight:bold; 
    display:block; 
    width: 100%;
    text-align:center;
     
}

img{
    height: 100px;
    width:  85px;
    position: relative;
    margin: 13px;
    
}


#yourScore, #targetScore, #winCount, #lossCount{
    font-size: 5em;
    /* width:100%; */
    margin-top:0px;
    margin-bottom: 10px;
    padding-top:0px;
    text-align: center;
    background-color: red;
    
}


@media screen and (max-width:1039px){
    #title{
        font-size: 3.5em;
        width: 100%;
        
    } 
    #jumboTitle{
        display:block;
        max-width: 760px;
        height:50px;
    }
    #page-container{
   
        width:auto;
        max-width: 760px;
        background-color:white;
        height: auto;
        overflow:hidden;
     }
     
    img{
        height:90px;
        width:75px;
        margin:5px;
    }
    .scoreboard{
        border-radius: 0;
    }
    #yourScore, #targetScore, #winCount, #lossCount{
        font-size:3em;
    }

    }

    @media screen and (max-width:991px){
    img{
    margin:0 53px;
    
        }
    }

    @media screen and (max-width:765px){
    #title{
        font-size: 3em;
    } 
    
    #jumboTitle{
       height: 40px; 
    }

    img{
        /* margin: 0 40px; */
        height:60px;
        width:45px;
        margin: 0 60px;
    }
    }

    @media screen and (max-width:700){
        img{
            margin: 0;
        }

        #title{
            font-size: 1em;
        } 
        #jumboTitle{
            height: auto; 
         }
    }

    
/* .scoreBoard1{
    color:white;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:blue;
    border-radius: 10px 0 0 0px;
    font-size: 1.8em;
    font-weight:bold; 
    display:block;
    width: 28%;
    text-align:center;
    clear: left;
}
.scoreBoard2{
    color:white;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:blue;
    border-radius: 0 0 0 10px;
    font-size: 1.8em;
    font-weight:bold; 
    display:block;
    width: 28%;
    text-align:center;
    clear: left;
}


#win-count{
    margin-top: 15px;
    border-radius: 10px 10px 0 0;
}
#win-count, #loss-count{
    float:left;
    width: 100%;
    background-color:white;
    /* border-radius: 10px 10px 10px 10px; */
/* }
#loss-count{
    border-radius: 0 0 10px 10px;
} */ 